*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
    
}

body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #B3B2DC;
    height: 100vh;
 
}


.container{
    width: 550px;
    background: #fff;
    border-radius:5px;
    position: relative;
    left: -50px;
  
}

.container h2{
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}


.game .word{
        font-size: 40px;
        letter-spacing:10px;
        text-transform: uppercase;
}

.game .hint{
        font-weight: bold;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.hint span{
        font-weight: normal;
    text-transform: capitalize;
}

input[type=text]{
    width: 440px;
    height: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.wrong{
    border: 2px red solid;
}
.correct{
    border: 2px #6fd649 solid;
}


.button{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}
.info{
  display: flex;  
    position: relative;
    top: -180px;
    left: 300px;

} 

button{

    background: none;
    margin-left: 20px;
    color: black;
    width: 119px;
    height: 35px;
    cursor: pointer; 
    transition:  0.2s all linear;
}



button:hover{
    border: 1px solid #B3B2DC;
    background-color:#B3B2DC;
}


.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;

}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
.popup h2{
    font-size:38px ;
    font-weight: 500;
    margin: 30px 0 10px;

}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 4px;
    cursor:pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}